<div class="container text-center mt-5">
  <div class="row">
    <div class="col-4">
  
    </div>
    <div class="containter col-4 border shadow-lg p-3 bg-body-tertiary rounded">
      <form>
        <h1>Typing challenge</h1>
        <p>
          <span *ngFor="let letter of sentence.split(''); let i = index;" [class]="compare(letter, value[i])">{{ letter }}</span>
        </p>
        <input type="text" (input)="typingFakeText($event)">
        <h1 *ngIf="winMessage" class="text-success">You win</h1>
      </form>
    </div>
  </div>
</div>